* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#conteiner {
  padding: 0px 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.apps {
  margin: 0px 15px;
  border-radius: 100%;
}

.apps img {
  border: #ffffff solid 4px;
  border-radius: 100%;
}
.apps img:hover {
  border: #a1a1aa solid 4px;
  border-radius: 100%;
}

footer {
  width: 100%;
  display: flex;
  padding: 0px 48px 10px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  position: fixed;
  bottom: 0px;
  background-color: #09090a;
}

footer img {
  width: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #a1a1aa;
}

@media (max-width: 815px) {
  #conteiner {
    padding: 0px 15px;
  }
  .apps {
    margin: 15px;
  }
  .apps img {
    width: 130px;
  }
  footer {
    padding-left: 15px;
    padding-right: 15px;
    font-size: xx-small;
  }
  footer span {
    display: none;
  }
}
