* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  background-color: #09090a;
}

#conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 180px 48px 48px 48px;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#menu li {
  list-style: none;
  margin: 10px;
  padding: 0px 0px 20px 0px;
  cursor: pointer;
}

#menu .sobre {
  cursor: help;
}

#menu li:hover {
  background: linear-gradient(180deg, #ffffff, #a1a1aa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bolder;
  font-size: medium;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
select {
  margin: 2px;
  background: #ffffff;
  border: none;
  outline: inherit;
  font: inherit;
  text-align: center;
  width: auto;
}

.alteraunidade {
  margin: 10px;
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  padding: 0px 48px 10px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  position: fixed;
  bottom: 0px;
  background-color: #09090a;
}

footer img {
  width: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #a1a1aa;
}
@media (max-width: 570px) {
  /*
  #menu {
    display: none;
  }
  */
  footer {
    font-size: xx-small;
  }
  footer span {
    display: none;
  }
}
