* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  font-family: Iceberg;
  font-size: larger;
  color: #ffffff;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 48px 0px;
  background-color: #09090a;
}

header img {
  cursor: pointer;
}

#usuario {
  animation: animatexto 4s linear infinite;
}

#conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 48px 48px 48px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 130px 48px 15px;
  background-image: url("./assets/navbg.gif");
  background-repeat: repeat;
}

#menu div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#menu li {
  list-style: none;
  margin: 10px 15px;
  cursor: pointer;
}

#menu .sobre {
  cursor: help;
}

#menu li:hover {
  font-weight: bolder;
  font-size: large;
}

#inicio {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#area,
#comprimento,
#massa,
#moeda,
#velocidade,
#volume,
#temperatura,
#tempo,
#sobre {
  display: flex;
  flex-direction: column;
}

div#sobre {
  text-align: justify;
}

h4 {
  text-align: center;
  padding: 15px 0px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
select,
label {
  font-size: medium;
  width: 35%;
  margin: 2px;
  border: none;
  outline: inherit;
  font: inherit;
  text-align: center;
}

form label {
  color: #09090a;
  background-color: #ffffff;
}

.optiontitulo {
  color: #ffffff;
  background-color: #09090a;
}

.alteraunidade {
  margin: 10px;
  cursor: pointer;
}
#principaiscotacoes {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.cotacao {
  margin: 0px 5px;
  display: flex;
  flex-direction: row;
  width: 180px;
  border: solid 2px;
  border-radius: 50px;
}

.moeda {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}

.moeda img {
  margin-right: 8px;
  width: 36px;
  height: 36px;
}

.moeda span {
  width: 115px;
  text-align: center;
  margin-right: 8px;
}

#curiosidades {
  background-color: #09090a;
  padding: 0px 48px;
  font-size: small;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20%;
}

#curiosidades span:hover {
  color: #a1a1aa;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  padding: 0px 48px 10px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  position: fixed;
  bottom: 0px;
  background-color: #09090a;
}

footer img {
  width: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #a1a1aa;
}
@media (min-width: 815px) {
  #menurecolhido {
    display: none;
  }
}
@media (max-width: 815px) {
  body {
    font-size: unset;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }

  #usuario {
    margin-bottom: 10px;
  }

  nav {
    padding: 150px 0px 10px;
  }

  #menu {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #menu #menuextendido {
    display: none;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #menu li {
    margin: 0px;
  }

  #menu li:hover {
    font-size: unset;
  }

  #inicio {
    text-align: center;
    font-size: small;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    padding-left: 15px;
    padding-right: 15px;
  }

  form input,
  select,
  label {
    width: 85%;
    font-size: small;
  }
  #principaiscotacoes {
    margin-top: 25px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .cotacao {
    margin: unset;
    margin-bottom: 8px;
    width: 125px;
    border: solid 2px;
    border-radius: 48px;
  }

  .moeda {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
  }
  .moeda img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
  .moeda span {
    font-size: small;
    width: 80px;
    text-align: center;
    margin-right: 4px;
  }
  #curiosidades {
    bottom: 10%;
    font-size: x-small;
  }

  footer {
    padding-left: 15px;
    padding-right: 15px;
    font-size: x-small;
  }

  footer span {
    display: none;
  }

  footer img {
    width: 75px;
  }
}

@keyframes animatexto {
  0% {
    color: #ffffff;
  }
  25% {
    color: #c6c6c6;
  }
  50% {
    color: #919191;
  }
  75% {
    color: #c6c6c6;
  }
  100% {
    color: #ffffff;
  }
}
