* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#5e00a0, #2f0050, #130020, #09090a, #09090a);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  height: 100vh;
}

#niveis {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nivel {
  margin: 15px;
}
.nivel:hover {
  cursor: pointer;
}
.nivel div {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: xx-large;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #db93e1 0%, #c400d5 50%, #5e00a0 100%);
}
#jogo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#jogo label,
input,
button {
  margin: 5px;
}
#dificuldade {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: xx-large;
}
/* #jogo label {
  height: 20px;
} */
footer {
  width: 100%;
  display: flex;
  padding: 0px 48px 10px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  position: fixed;
  bottom: 0px;
  background-color: #09090a;
}

footer img {
  width: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #a1a1aa;
}
@media (max-width: 815px) {
  #niveis {
    flex-direction: column;
  }
  .nivel {
    margin: 5px;
  }
  .nivel img {
    width: 125px;
    height: 125px;
  }
  .nivel div {
    font-size: medium;
    width: 125px;
    height: 125px;
  }
  footer {
    padding-left: 15px;
    padding-right: 15px;
    font-size: xx-small;
  }
  footer span {
    display: none;
  }
  footer img {
    width: 75px;
  }
}
@media (min-aspect-ratio: 3/4) {
  #niveis {
    flex-direction: row;
  }
}
